<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notepeddy</title>
    
    <!-- CSS - Externos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <style>
        .github-link {
            position: fixed;
            bottom: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- Área do formulário -->
        <div class="row">
            <div class="col s12">
                <h5>Faça uma anotação</h5>
            </div>
            <!-- Formulário para inputar os dados -->
            <form class="col s12" method="POST" action="/">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="tiutlo_nota" name='titulo_nota' type="text" class="validate" required>
                        <label for="titulo_nota">Titulo da Nota</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <textarea id="corpo_nota" name="corpo_nota" class="materialize-textarea" required></textarea>
                        <label for="corpo_nota">Corpo da anotação</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <button type="submit" class="waves-effect waves-light btn teal accent-3">Criar Nota</button>
                        <button type="reset" class="waves-effect waves-light btn red">Limpar Campos</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- #Área do formulário -->
        <!-- Área das notas -->
        <div class="row">
            <div class="col s12">
                <h5>Veja as suas notas</h5>
            </div>
        </div>
        <div class="row">
            <% for(var i=0; i<notas.length; i++) { %>
            <div class="card-panel grey lighten-5 z-depth-2">
                <div class="row valign-wrapper">
                    <div class="col s12">
                        <span class="black-text">
                            <h5><%= notas[i].titulo_nota  %></h5>
                            <p><%= notas[i].corpo_nota  %></p>
                        </span>
                        <div class="right-align">
                            <form action="/editar" method="POST">
                                <button class="btn waves-effect" name='titulo_nota' value='<%= notas[i].titulo_nota %>'>Marcar como lido</button>
                            </form>
                            <form action="/deletar" method="POST">
                                <button class="btn waves-effect red" name='titulo_nota' value='<%= notas[i].titulo_nota %>'>Excluir</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <!-- #Área das notas -->
    </div>
    <a class="github-link" href="https://github.com/EdgarValfogo">
        <button class="btn waves-effect z-depth-5 blue">Github : Edgar Valfogo</button>
    </a>
    <!-- Script - Externos -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>